USE [MatuteMateriales]
GO
/****** Object:  StoredProcedure [dbo].[egresos_actualizarRegistro]    Script Date: 10/05/2019 15:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Leandro Martini Lacrouts>
-- Create date: <30/04/2019 19:13>
-- Description:	<Este SP agrega o actuliza la tabla productos>
-- =============================================
CREATE PROCEDURE [dbo].[egresos_actualizarRegistro]
 @id_con int, 
 @total decimal(10,2),
 @fec date
AS
BEGIN 
	INSERT INTO [dbo].[egresos]( [id_con], [total],[fec]) VALUES(@id_con,@total,@fec)
	select @@IDENTITY
END 
