CREATE DATABASE [MatuteMateriales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MatuteMateriales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MatuteMateriales.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MatuteMateriales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MatuteMateriales_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [MatuteMateriales]
GO
USE [MatuteMateriales]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [MatuteMateriales] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
