USE [SAR]
GO
/****** Object:  StoredProcedure [dbo].[persona_actualizarRegistro]    Script Date: 20/02/2019 19:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ingresos_actualizarLista]-- 11,'Joaquin','Hernandez','04/12/1989',9

 @id_uf int, 
 @mes int, 
 @anio int, 
 @expMes decimal (6,2),
 @expExtra decimal (6,2),
 @mantEdif decimal (3,2),
 @subTotal decimal (6,2),
 @redondeo decimal (3,2),
 @total decimal (6,2)
	        
AS
BEGIN 
	INSERT INTO [dbo].[ingresos] ([id_uf],[mes],[anio],[expMes],[expExtra],[mantEdif],[subTotal],[redondeo],[total])
     VALUES(@id_uf ,  @mes ,  @anio ,  @expMes , @expExtra , @mantEdif , @subTotal, @redondeo, @total)

END 

