USE [sar]
GO
/****** Object:  StoredProcedure [dbo].[ingresos_actualizarRegistro]    Script Date: 1/3/2019 19:11:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[ingresos_actualizarRegistro] --1,2,2019,542,500.00,0,1042.70,0.3,1056

 @id_uf int, 
 @mes int, 
 @anio int, 
 @expMes decimal (6,2),
 @expExtra decimal (6,2),
 @mantEdif decimal (3,2),
 @subTotal decimal (6,2),
 @redondeo decimal (3,2),
 @total decimal (6,2)
	        
AS
BEGIN 
	if not exists (select * from [dbo].[ingresos] where id_uf = @id_uf and mes = @mes and anio = @anio)
	INSERT INTO [dbo].[ingresos] ([id_uf],[mes],[anio],[expMes],[expExtra],[mantEdif],[subTotal],[redondeo],[total])
     VALUES(@id_uf ,  @mes ,  @anio ,  @expMes , @expExtra , @mantEdif , @subTotal, @redondeo, @total)
else
	UPDATE [dbo].[ingresos] SET [expMes]=@expMes,[expExtra]=@expExtra,[mantEdif]=@mantEdif,[subTotal]=@subTotal,
		   [redondeo]= @redondeo,[total]=@total 
	where id_uf = @id_uf and mes = @mes and anio = @anio
END 


