USE [sar]
GO
/****** Object:  StoredProcedure [dbo].[Uf_obtenerLista]    Script Date: 9/3/2019 15:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Uf_obtenerLista] --1,-1

 @id_uf int = -1,
 @id_cons int = -1
	        
AS

DECLARE @sOpe as varchar(7)
DECLARE @sWhere as varchar(128)
DECLARE @sQuery as varchar(1284)

BEGIN 
SELECT @sWhere = ' WHERE '
SELECT @sOpe = ' '
SELECT @sQuery = ' '

if (not @id_uf = -1) begin
	select @sWhere = @sWhere + @sOpe +  'id_uf  = ' + CONVERT(varchar,@id_uf ) 
	select @sOpe = ' AND ' 
	end

if (not @id_cons = -1) begin
	select @sWhere = @sWhere + @sOpe +  'id_cons = ' + CONVERT(varchar,@id_cons ) 
	select @sOpe = ' AND ' 
	end

	if @sWhere = ' WHERE '
	begin
	set @sWhere = ''
	end

	set @sQuery = 'select * from uf '
	+ @sWhere
	execute(@sQuery)

	END
