USE [sar]
GO
/****** Object:  StoredProcedure [dbo].[ingresos_obtenerLista]    Script Date: 9/3/2019 14:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ingresos_obtenerLista] --1,-1,3,2019

 @id_uf int = -1,
 @id_cons int = -1,
 @mes int = -1,
 @anio int = -1
	        
AS

DECLARE @sOpe as varchar(7)
DECLARE @sWhere as varchar(128)
DECLARE @sQuery as varchar(1284)

BEGIN 

SELECT @sWhere = ' WHERE '
SELECT @sOpe = ' '
SELECT @sQuery = ' '


	if (not @id_uf = -1) begin
	select @sWhere = @sWhere + @sOpe +  'i.id_uf  = ' + CONVERT(varchar,@id_uf ) 
	select @sOpe = ' AND ' 
	end

	if (not @id_cons = -1) begin
	select @sWhere = @sWhere + @sOpe +  'i.id_cons  = ' + CONVERT(varchar,@id_cons ) 
	select @sOpe = ' AND ' 
	end

	if (not @anio = -1) begin
	select @sWhere = @sWhere + @sOpe + 'i.anio  = ' + CONVERT(varchar,@anio ) 
	select @sOpe = ' AND ' 
	end

	if (not @mes = -1) begin
	select @sWhere = @sWhere + @sOpe + 'i.mes  = ' + CONVERT(varchar,@mes ) 
	select @sOpe = ' AND ' 
	end

	if @sWhere = ' WHERE '
	begin
	set @sWhere = ''
	end
	set @sQuery = 'select dpto,coef,i.id_cons,expMes,expExtra,mantEdif,subTotal,redondeo,total from ingresos i
	left join uf on (i.id_uf = uf.id_uf)'
	--where mes = 1 and anio = 2019
	+ @sWhere
	execute(@sQuery)
END 

--delete from ingresos