/*
   lunes, 1 de febrero de 202116:21:15
   User: 
   Server: LEANDRO-ACER
   Database: PedroCovino
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.insumos
	(
	idInsumo int NOT NULL IDENTITY (1, 1),
	codigo int NOT NULL,
	descrip varchar(150) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.insumos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
