/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	height:100%;
	background:url('../img/tile_bg.jpg') #b0b0b0;
	position:relative;
}

body{
	background:url('../img/bground.jpg') no-repeat center center;
		-webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */ 
	min-height: 100%;
	height: 100%;
    margin: 0px;
    padding: 200px 0 0;
	font-family: 'Gochi Hand', cursive;	  
    font-size: 100px;
    text-align: center;

}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section, footer{
	display: block;
}


/*----------------------------
	Main Section
-----------------------------*/

#note{
	color: #666666;
	font-size: 12px;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 400px;
}

@media (max-width: 700px) { 
body{
	font-size: 50px; 
}
}

}