<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="SISTEMAS40" connectionString="Initial Catalog=MatuteMateriales; Data Source=SISTEMAS40\SQLEXPRESSDOS ; Integrated Security=SSPI;"/>
    <add name="HomeWorking" connectionString="Initial Catalog=MatuteMateriales; Data Source=localhost ; Integrated Security=SSPI;" />
  </connectionStrings>

</configuration>
