<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="SISTEMAS40" connectionString="Initial Catalog=MatuteMateriales; Data Source=SISTEMAS40\SQLEXPRESSDOS ; Integrated Security=SSPI;"/>
    <add name="LEANDRO-PC" connectionString="Initial Catalog=MatuteMateriales; Data Source=localhost ; Integrated Security=SSPI;"/>
    <add name="LEANDRO-ACER" connectionString="Initial Catalog=MatuteMateriales; Data Source=localhost ; Integrated Security=SSPI;"/>
    <add name="USUARIO-PC\SQLEXPRESS" connectionString="Initial Catalog=MatuteMateriales; Data Source=USUARIO-PC\SQLEXPRESS ; Integrated Security=SSPI;"/>
    <add name="Usuario-PC" connectionString="Initial Catalog=MatuteMateriales; Data Source=Usuario-PC ; Integrated Security=SSPI;"/>
  </connectionStrings>

</configuration>
