html,
body,
.cv {
    height: auto;
    background: -moz-linear-gradient(center bottom, #264d73, #0e2b48 184px);
    background: -ms-linear-gradient(center bottom, #264d73, #0e2b48 184px);
    background: -webkit-radial-gradient(center bottom, #264d73, #0e2b48 184px);
    background: -o-linear-gradient(center bottom, #264d73, #0e2b48 184px);
    font-family: 'Trebuchet MS', sans-serif;
}

hr {
    margin: 0 0;
    background-color: aliceblue;
}

a {
    text-decoration: none;
}

.row {
    padding-top: 0.5em;
}

.right {
    padding-left: 3.5em;
    border-left-style: double;
}

.titulo {
    background: #0e2b48;
    color: #ffffff;
    border-left: double;
}

.image {
    padding-top: 0;
    padding-bottom: 3em;
}

.descarga {
    padding: 2em;
}

.rounded-circle {
    background: darkgray;
    border-style: solid;
}

.bio {
    padding: 0em 3em;
}

.contec{
    margin-left: 2em;
}

progress {
    display: block;
    -webkit-appearance: none;
}

.progress {
    height: 1em;
    margin-top: 6px;
    float: right;
}

progress::-webkit-progress-bar {
    background: black;
    border-radius: 50px;
    padding: 2px;
}

progress::-moz-progress-bar {
    background: black;
    border-radius: 50px;
    padding: 2px;
}

progress::-webkit-progress-value {
    border-radius: 50px;
    background: orange;
}